@font-face {
  font-family: "Mulish";
  src: url("/src/assets/fonts/Mulish/static/Mulish-Medium.ttf") format("truetype");
}

@mixin standard-text {
  font-family: "Mulish";
  color: #FFF;
  font-size: calc(16px + 1vh);
}

@mixin header-text {
  font-family: "Mulish";
  color: #FFF;
  font-size: calc(24px + 2vh);
}